#home-heading.main-heading {
    font-family: "Brush Script MT", Georgia;
    font-size: 46px;
    color:burlywood;
}

.nav-guide {
    font-family: Garamond, Georgia;
}

.main-heading {
    font-family: "Trebuchet MS", Tahoma;
    font-size: 36px;
    background-color:bisque;
    text-align: center;
}

.sub-heading {
    font-family: Verdana, Tahoma;
    color:coral;
}

.instruction-heading {
    font-family: "Courier New", Monaco;
}

.home-return {
    font-family: "Brush Script MT", Georgia;
    font-size: 25px;
    font-weight: 200;
    color:cornflowerblue;
}